.contact{
    margin: 0%;
    background-color:#031838;
    border: 2px solid #031838;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.contact-title{
    font-size: 80px;
    font-family: 'Manrope', sans-serif;
    word-spacing: 10px; 
    letter-spacing: -2px;
}
.contact-para{
    position: relative;
    top: -62px;
    font-size: 22px;
    /* width:450px; */
    text-align: justify;
    letter-spacing: -0.3px;
    font-family: 'PT Sans', sans-serif;
}
.contact-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height:400px;
    width: 800px;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    z-index: 10;
    padding: 40px;
    color: #fff;
    border: 2px solid rgba(233, 218, 218, 0.2);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.3);
    margin-top: 10px;
    margin-bottom: 50px;
}

.contact-form-input{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: -80px;
    /* margin-left: 30px; */
}

.input-div{
    display: flex;
    flex-direction: column;
    margin: 0px 30px;
}

.input-div>label{
    font-size: larger;
    margin-bottom: 20px;
    margin-left: 14px;
}
.input-div>input{
    width: 350px;
    background-color: transparent;
    border: none;
    font-size: larger;
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
    color: #ffff;
}

.contact-form-msg{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.contact-form-msg>label{
    font-size: larger;
    margin-left: 12px;
    margin-bottom: 20px;
}
.contact-form-msg>textarea{
    width: 800px;
    background-color: transparent;
    font-size: 18px;
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
    color: #fff;
    padding: 5px 0px;
}

.submit-btn{
    font: 20px Arial;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    color: white;
    background: #031838; /* default color */
    width: 250px;
    position: relative;
    bottom: -80px;
    /* "to left" / "to right" - affects initial color */
    background: linear-gradient(to left, #031838 50%, lightblue 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}
.submit-btn:hover {
    background-position: left;
    color: #031838;
    font-weight: bolder;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

 @media screen and (max-width:975px) {

    .contact-form{
        width: 600px
    }
    .input-div>input{
      width:250px;
    }

    .contact-form-msg>textarea{
        width: 610px;
    }

 }

 @media screen and (max-width:750px) {

    .contact-form-input{
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 30px;
        margin-bottom: -50px;
    }

    .contact-form{
        width: 400px;
        height: 500px;
    }
    .input-div>input{
      width: 370px;
    }

    .contact-form-msg>textarea{
        width: 400px;
    }
    .input-div{
        margin: 20px auto;
    }
    
    .contact-para{
        width: 400px;
        word-wrap: break-word;
    }
 }

 @media screen and (max-width:550px){
    .input-div>input{
        width: 270px;
      }
      .contact-form{
        width: 300px;
        height: 500px;
    }
    .contact-form-msg>textarea{
        width: 290px;
    }
 }

 
 @media screen and (max-width:450px){
    .input-div>input{
        width: 241px;
      }
      .contact-form{
        width: 222px;
        height: 500px;
    }
    .contact-form-msg>textarea{
        width: 266px;
    }
    .contact-title{
      font-size: 65px;
    }
    .contact-para{
        width: 300px;
    }
    .submit-btn{
        width:150px;
        margin-bottom: 20px;
        font-size: 17px;
    }
 }